/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-weight: var(--weight-main);
  background-color: var(--themes-background);
  color: var(--themes-main-color);
  background-image: repeating-linear-gradient(
      var(--line-gradient) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      0.25turn,
      var(--line-gradient) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(180deg, var(--from-gradient) 0%, var(--to-gradient) 100%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-block-start: 102px;
  margin-block-end: 98px;
  display: flex;
  flex-direction: column;
  min-width: clamp(375px, 696px, 100%);
  align-items: center;
  padding: 136px 0 25px;
  height: clamp(323px, 364px, 100%);
  border: 2px solid var(--themes-main-color);
  font-family: var(--accent-font-family);
  background-color: var(--themes-background);
  text-transform: uppercase;
}

.header__title {
  padding-bottom: 20px;
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.header__sub-title {
  padding-bottom: 24px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  margin-inline-end: -16px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.theme-menu__button-text {
  position: relative;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button-text::after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--themes-main-color);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  left: -20px;
}

.theme-menu__button-text:hover::after {
  width: 100%;
}

.card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
}

.card__list-title {
  font-size: 18px;
  font-weight: var(--weight-bold);
  padding: 5px 10px;
}

.card__list-item {
  background-color: var(--themes-background);
  border: 2px solid var(--themes-main-color);
  display: flex;
  flex-direction: column;
  max-width: clamp(375px, 700px, 100%);
}

.image__car {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1/1;
}

.card__list-item:nth-child(2) .image__car {
  filter: invert(100%);
}

.card__list-item:nth-child(3) .image__car {
  filter: brightness(0.5);
}

.card__list-item:nth-child(4) .image__car {
  filter: sepia(50%);
}

.card__list-item:nth-child(5) .image__car {
  filter: contrast(200%);
}

.card__list-item:nth-child(6) .image__car {
  filter: grayscale(80%);
}

.card__list-item:nth-child(7) .image__car {
  filter: saturate(50%);
}

.card__list-item:nth-child(8) .image__car {
  filter: blur(5px) hue-rotate(90deg);
}

.card__list-text {
  padding: 22px 25px;
  font-size: 18px;
  font-weight: var(--weight-main);
  font-style: normal;
  line-height: 21px;
}

.card__list-text-paragraph:first-child {
  padding-bottom: 27px;
}

.like__button {
  display: flex;
  justify-content: flex-end;
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.image__contain {
  border-top: 2px solid var(--themes-main-color);
  border-bottom: 2px solid var(--themes-main-color);
  position: relative;
}

.label {
  position: absolute;
  right: 25px;
  top: 28px;
  font-style: normal;
  line-height: normal;
  text-shadow: -1px 0 var(--themes-background), 0 1px var(--themes-background),
    1px 0 var(--themes-background), 0 -1px var(--themes-background);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.card__like-button {
  position: relative;
  background-color: var(--themes-background);
  border: 2px solid var(--themes-main-color);
  color: var(--themes-main-color);
  cursor: pointer;
  width: 130px;
  height: 38px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  overflow: hidden;
  z-index: 0;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--themes-main-color);
}

.card__like-button::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left;
  width: 100%;
  background-color: var(--themes-main-color);
}

.card__like-button:hover::before {
  transform: scale(1, 1);
}

.button__text {
  position: relative;
  z-index: 2;
  font-size: 14px;
  line-height: 0.9;

  color: var(--themes-main-color-for-button);
  mix-blend-mode: difference;
}

.card__icon-button {
  position: relative;
  border: none;
  background-color: inherit;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible .like-icon {
  outline-offset: -1px;
  outline: 2px solid var(--themes-main-color);
}

.sparks {
  opacity: 0;
}

.like-icon {
  position: relative;
}

.heart {
  position: absolute;
  transform-origin: center;
}


.card__icon-button:hover .core {
  fill: var(--themes-main-color);
  opacity: 1;
}



.save-button {
  display: flex;
  max-width: clamp(306px, 342px, 100%);
  width: 100%;
  min-height: 55px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.floppy-icon {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
  color: var(--themes-main-color-for-button, #ffffff);
}

.footer {
  margin-block-start: 54px;
  margin-block-end: 115px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog {
  max-width: 357px;
  max-height: 193px;
  width: 100%;
  height: 100%;
  padding: 32px;
  border: 2px solid var(--themes-main-color);
  background: var(--themes-background);
}
.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog-icon {
  width: 39px;
  height: 39px;
}

.dialog-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog__text {
  color: var(--themes-main-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  width: 234px;
}

.card__like-button.dialog__button {
  width: 100%;
}

@supports (
  (text-stroke: 1px var(--themes-background)) or
    (-webkit-text-stroke: 1px var(--themes-background))
) {
  .label {
    -webkit-text-stroke: 1px var(--themes-background);
    text-stroke: 1px var(--themes-background);
    text-shadow: none;
  }
}

@media (375px >= width) {
  .save-button {
    flex-direction: column;
    min-height: 84px;
    max-width: 310px;
  }

  .card__list {
    gap: 50px;
  }

  .label {
    top: 25px;
    right: 11px;
  }

  .header {
    padding-top: 118px;
  }

  .floppy-icon {
    width: 29px;
    height: 29px;
  }
}
